@import '../../global.scss';

.menu {
  align-items: center;
  background-color: $darkNavy;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: -300px;
  top: 0;
  transition: all 1s ease;
  width: 300px;
  z-index: 2;

  &.active {
    right: 0;
  }

  ul {
    color: $pink;
    font-size: 30px;
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 20px;

      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }

      &:hover {
        color: #FFF;
      }
    }
  }
}