@import '../../global.scss';

.skills {
  align-items: center;
  background-color: $lightBlue;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 50px 0;

  .section-title {
    font-size: 50px;
    position: relative;
    z-index: 1;

    &:before {
      border-top: 12px solid $pink;
      bottom: 0;
      content: '';
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 36px;
      z-index: -1;
    }
  }

  .skill-lists {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    .skill-list ul {
      list-style-type: none;
      margin: 0 20px;
      padding: 0;

      .skill-list__item {
        color: $navy;
        font-size: 20px;
        font-weight: 900;
        margin-top: 20px;
        position: relative;
        text-align: center;
        z-index: 1;

        @include mobile {
          font-size: 14px;
        }

        &:before {
          border-top: 7px solid $pink;
          bottom: 0;
          content: '';
          left: 0;
          margin: 0 auto;
          position: absolute;
          right: 0;
          top: 8px;
          z-index: -1;
        }

        &.list-item-short:before {
          width: 70%;
        }
      }
    }
  }
}