* {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #222;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
